// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#video-container {
}

#video-player {
	background-color: $black;
	padding: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#video-info {
	color: $white;
	width: 100%;
	background-color: $gray;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	float:left;
}
#table-info {
	margin:10px;
	float:left;
	max-width:30%;
}
#table-description {
	margin:10px 0px 10px 0px;
	float:left;
	max-width:70%;
}
#table-description .table-attribute {
	vertical-align: top;
}
#table-rating {
	float:right;
}
.table-attribute {
	font-weight: bold;
	color: $themeColorMain;
	padding:2px;
}
.table-value {
	padding-left: 5px;
}

#critique-container {
	padding:10px;
	background-color: $black;
	border-radius:4px;
}
#critique_comment {
	resize: none;
	background-color: $gray;
	border-color: $black;
	color:$white;
}

#new_critique {
	margin-bottom: 0px;
	height:100%;
}
#comments-container {
	float:left;
	background-color: $black;
	width:100%;
	min-height: 75px;
	border-radius:4px;
}
.media-list a img {
	width:64px;
	height:64px;
}
.media-list {
	margin:10px;
}
.media-list a {
	width: 64px;
	height:64px;
}
#submit-critique {
	float:right;
	width:100%;
}
.media-heading h4{
	font-weight: bold;
	color: $themeColorMain;
	margin:0px;
}
#video-right-col h4 {
	color:$themeColorMain;
	margin-left: 10px;

}
#video-left-col h4 {
	color:$themeColorMain;
	margin-top:20px;
	float:left;
	margin-left: 10px;
}
.video-message {
	font-weight:bold;
}