	<h4>Filter Videos</h4>
	<div class="span12 filter-dropdowns">
		<select class="span3 filter-dropdown-1">
			<option>Select Champion</option>
		</select>
		<select class="span3 filter-dropdown-2">
			<option>Select Position</option>
		</select>
		<select class="span3 filter-dropdown-3">
			<option>Select Game Phase</option>
		</select>
		<select class="span3 filter-dropdown-4">
			<option>Select Focus Points</option>
		</select>
	</div>
