	<h4>Filter Videos</h4>
	<div class="row-fluid">
		<div class="span12 filter-dropdowns">
			<select data-placeholder=""class=" filter-dropdown-1">
				<option value="None">-- Select Champion --</option>
			</select>
			<select data-placeholder="" class=" filter-dropdown-2">
				<option value="None">-- Select Position --</option>
			</select>
			<select data-placeholder="" class=" filter-dropdown-3">
				<option value="None">-- Select Game Phase --</option>
			</select>

			<select class=" filter-dropdown-4" multiple="multiple">
			</select>
		</div>
	</div>
